.second {
    background: #E5E5E5;
}

.card-head {
    padding: 30px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54p,progx;
    letter-spacing: 0.03em;
    color: #121212;
}


.tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 105px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: -3.17143px 0px 39.6429px rgba(39, 122, 247, 0.2);

    border-radius: 2px;
}

.tools img {
    width: 45px;
    height: 45px;
}

.tools p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: rgba(18, 18, 18, 0.8);
}

.tools .icon {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media (max-width: 960px) {
    .tools {
        margin: 20px 0;
    }
    .card-head {
        padding: 20px;
        font-size: 30px;
        line-height: 36px;
    }
    .tools {
        padding: 20px;
    }
    .tools img {
        width: 24px;
        height: 24px;
    }
    .tools p {
        font-size: 14px;
    }
}