.card {
    width: 689.79px;
    height: 282.26px;
    background: #FFFFFF;
    box-shadow: -3.17143px 0px 39.6429px rgba(39, 122, 247, 0.2);
    border-radius: 6.34286px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    cursor: pointer;
    user-select: none;
    transition: all 4s ease-in-out;
}

.card-left {
    width: 30%;
}

.card-right {
    width: 100%;

}

.counting {
    text-align: center;
    color: #3C68FF;
    margin-top: 60%;
    margin-left: 15%;
    font-size: 26px;
    font-weight: 600;
    height: 20px;
    width: 20px;
    padding: 30px;
    border-radius: 50%;
    background: rgba(60, 104, 255, 0.2);
}

.card-heading {
    margin-top: 61px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 25.3714px;
    line-height: 38px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #121212;
}

.card-sub-heading {
    margin-right: 36px;
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 15.8571px;
    line-height: 166%;
    /* or 26px */

    letter-spacing: 0.03em;

    color: rgba(18, 18, 18, 0.8);
}

.card-buttons {
    display: flex;
    flex-direction: row;
}

.first-btn {
    margin-right: 20px;
}