.left-program {
    padding-top: 50px;
    margin-top: 44px;
    margin-right: 80px;
    width: 522px;
    height: 697px;
    background: #FFFFFF;
    box-shadow: -3.17143px 0px 39.6429px rgba(39, 122, 247, 0.2);
    border-radius: 2px;

}

.progs {
    margin-left: 60px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #121212;
}

.program-details {
    display: flex;
    flex-direction: row;
}

.prog-icons {
    width: 25%;
}

.prog-card {
    display: flex;
    flex-direction: row;
}